@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0 0);
  --color-primary: oklch(47.41% 0.11 265.75);
  --color-primary-foreground: oklch(98% 0 0);
}

.dark {
  @theme {
    --color-background: oklch(9% 0 0);
    --color-foreground: oklch(98% 0 0);
    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(47.41% 0.11 265.75);
  }
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
